<!-- <div class="body-chat-msg">
    <div class="chat-container">
        <div class="chat-header">
            <header class="join-header">
                <h1><mat-icon>message</mat-icon>Chat Applicaton</h1>
            </header>
            <main class="chat-main">
                <div class="chat-sidebar">
                    <h3><mat-icon>ChatIcon</mat-icon>Chats Name</h3>
                    <div *ngFor="let chatRoom of allChatRooms">
                        <button  mat-raised-button type="submit" class="btn" >{{chatRoom.chatName}}</button>

                    </div>

                </div>
                


            </main>

        </div>

    </div>
</div>
 -->
